/*----------------------------------------------------------
The base color for this template is #FFE09D. If you'd like
to use a different color start by replacing all instances of
#FFE09D with your new color.
----------------------------------------------------------*/

#header 
{
    background: url("./Images/header-background.jpg") repeat-x scroll 0 0 #DDDDDD;
    height: 42px;
    text-align: right;
}

#header a {
    color: #000000;
    font-weight: bold;
    margin-top: 3px;
    padding: 5px;
    display: inline-block;
}

#header a:hover {
    color: #C80202;
}

#header span {
    font-size: 13px;
    margin: 0;
    padding: 0 0 0 35px;
}

#header img {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 5px;
    padding: 0;
    vertical-align: middle;
}
#logo_container {
    height: 121px;
    text-align: right;
}
#logo_div {
    height: 95px;
    text-align: right;
}

header {
    display: block;
    overflow: hidden;
    position: relative;
}

.left-container, .right-container {
    float: left;
    display:block;
    padding: 10px;
}

div#title
{
    display:block;
    float:left;
    text-align:right;
    text
}

#title .right-container
{
    text-shadow: 10px -2px 5px #000000;
    font-family: Calibri, Arial;   
    font-style: italic;
}

#title h1
{    
    font-family: Impact;
    font-size: 72px;    
    letter-spacing: 3px;
        
	-webkit-transition: all 200ms linear;
	-moz-transition: all 200ms linear;
	transition: all 200ms linear;
	
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	padding-right: 30px;
    color: rgb(248,253,254);
}

#title h1:hover
{
	-webkit-transform: scale(1.1) translateZ(0);
	transform: scale(1.1) translateZ(0);  

}

#title h2
{
    font-size: 26px;
	margin-right: 30px;
    color: rgb(248,253,254);
    text-shadow: 2px -2px 5px #000000;
}

#menucontainer
{
    float: right;
    padding-right: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

body
{
    background-color: #FFE09D;
    background-position: 0px 42px;
    font-size: 75%;
    font-family: Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #696969;
}

a:link
{
    color: #034af3;
    text-decoration: none;
}
a:visited
{
    color: #505abc;
}
a:hover
{
    color: #1d60ff;
    text-decoration: none;
}
a:active
{
    color: #12eb87;
}

p, ul
{
    margin-bottom: 20px;
    line-height: 1.6em;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #000;
}

h1
{
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}
h2
{
    padding: 0 0 10px 0;
}
h3
{
    font-size: 1.2em;
}
h4
{
    font-size: 1.1em;
}
h5, h6
{
    font-size: 1em;
}

/* this rule styles <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page
{
    width: 1050px;
    margin-left: auto;
    margin-right: auto;
}

#main
{
    padding: 30px 30px 15px 30px;
    background-color: #fff;
    margin-bottom: 30px;
    _height: 1px; /* only IE6 applies CSS properties starting with an underscore */
}

#footer
{
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0;
    font-size: .9em;
}

/* TAB MENU   
----------------------------------------------------------*/
ul#menu
{
    padding: 0 0 2px;
    position: relative;
    margin: 0;
    text-align: right;
}

ul#menu li
{
    display: inline;
    list-style: none;
}

ul#menu li#greeting
{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
}

ul#menu li a
{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: #e8eef4;
    color: #034af3;
}

ul#menu li a:hover
{
    background-color: #fff;
    text-decoration: none;
}

ul#menu li a:active
{
    background-color: #a6e2a6;
    text-decoration: none;
}

ul#menu li.selected a
{
    background-color: #fff;
    color: #000;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

input[type="text"] 
{
    width: 200px;
    border: 1px solid #CCC;
}

input[type="password"] 
{
    width: 200px;
    border: 1px solid #CCC;
}

/* TABLE
----------------------------------------------------------*/

table 
{
  border: solid 1px #e8eef4;
  border-collapse: collapse;
}

table td 
{
  padding: 5px;   
  border: solid 1px #e8eef4;
}

table th
{
  padding: 6px 5px;
  text-align: left;
  background-color: #e8eef4; 
  border: solid 1px #e8eef4;   
}

/* MISC  
----------------------------------------------------------*/
.clear
{
    clear: both;
}

.error
{
    color:Red;
}


#logindisplay
{
    font-size:1.1em;
    display:block;
    text-align:right;
    margin:10px;
    color:White;
}

#logindisplay a:link
{
    color: white;
    text-decoration: underline;
}

#logindisplay a:visited
{
    color: white;
    text-decoration: underline;
}

#logindisplay a:hover
{
    color: white;
    text-decoration: none;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label,
.editor-label
{
    margin: 1em 0 0 0;
}

.display-field,
.editor-field
{
    margin:0.5em 0 0 0;
}

.text-box
{
    width: 30em;
}

.text-box.multi-line
{
    height: 6.5em;
}

.tri-state
{
    width: 6em;
}

     
body{
    background-image: url(./Images/background.jpg);
    background-repeat: repeat-x;
    background-color: rgb(196, 4, 4);
    color: rgb(30, 30, 30);
    display: block;
}
     
#main{
    border-radius: 10px;
}
     
     
input[type=text]
{
    border-radius: 5px;
}

select {
    border: 1px solid #CCCCCC;
    color: #444444;
    font-size: 1.2em;
    padding: 2px;
}
input[type="submit"] {
    font-size: 1.2em;
    padding: 5px;
}
table {
    border: 1px solid #E8EEF4;
    border-collapse: collapse;
}
table td {
    border: 1px solid #E8EEF4;
    padding: 5px;
}
table th {
    background-color: #E8EEF4;
    border: 1px solid #E8EEF4;
    padding: 6px 5px;
    text-align: left;
}

.boton
{    
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-weight: bold;
    padding: 7px 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
}

.boton-naranja-buscar-global {
    font-size: 12pt;
    height: 18px;
    margin-left: 10px;
    min-width: 60px;
}
styles...1106212 (line 154)
.boton-naranja, .boton-naranja:visited 
{
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc400', endColorstr='#ff5100',GradientType=0 );
    background: -moz-linear-gradient(center top , #FFC400 0%, #FF5100 65%) repeat scroll 0 0 transparent;
}
styles...1106212 (line 113)
.boton-css3 {
}

.boton-naranja:hover
{
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa200', endColorstr='#ff2b00',GradientType=0 );
}

.boton-gris
{
    color: #D31921;
    font-family: Tahoma;
    font-size: 13px;
    font-weight: bold;
    
    border-style: solid;
    border-width: 1px;
    border-color: #D8D7D2;
    border-radius: 12px;
    
    display: inline-block;
    padding: 5px 15px 6px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    
    background: -moz-linear-gradient(top, #FFFFFF, #EDEDED);
    background-image: -webkit-linear-gradient(#FFFFFF, #EDEDED); 
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FFFFFF,EndColorStr=#EDEDED);
}

.boton-gris:hover
{
    
}

.gradient-bg {
   /* fallback/image non-cover color */
   background-color: #1a82f7; 

   /* fallback image */
   background-image: url(images/fallback-gradient.png); 

   /* Firefox 3.6+ */
   background-image: -moz-linear-gradient(#2F2727, #1a82f7);

   /* Safari 4+, Chrome 1+ */
   background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1a82f7), to(#2F2727));

   /* Safari 5.1+, Chrome 10+ */
   background-image: -webkit-linear-gradient(#2F2727, #1a82f7); 

   /* Opera 11.10+ */
   background-image: -o-linear-gradient(#2F2727, #1a82f7);
   
   background: -moz-linear-gradient(top, rgba(123,104,238,1), rgba(0,0,205,1));

/* Chrome 7+ & Safari 5.03+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(123,104,238,1)), color-stop(1, rgba(0,0,205,1)));

/* IE5.5 - IE7 */
filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FF7B68EE,EndColorStr=#FF0000CD);
}