<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="FastFoodEntitiesContainer" connectionString="metadata=res://*/EntityModels.FastFoodEntities.csdl|res://*/EntityModels.FastFoodEntities.ssdl|res://*/EntityModels.FastFoodEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=FastFood;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
