@{    
    ViewBag.PageTitle = "Welcome! Hope you're hungry";
}

<h2>@ViewBag.Message</h2>
<p>
    @Html.Partial("_SearchBoxPartial")
</p>

<script>
    $(document).ready(function () {
        $("#home").addClass("active");
    });
</script>
