<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!-- LOCAL CONNECTION STRINGS -->
  <connectionStrings xdt:Transform="RemoveAll">
    <add name="ApplicationServices"
         connectionString="data source=.\SQLEXPRESS;initial catalog=FoodExpress.admin;integrated security=SSPI"
         providerName="System.Data.SqlClient"/>
    <add name="FastFoodEntitiesContainer"
         connectionString="metadata=res://*/EntityModels.FastFoodEntities.csdl|res://*/EntityModels.FastFoodEntities.ssdl|res://*/EntityModels.FastFoodEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=FoodExpress;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>