<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings xdt:Transform="Replace">
    <add name="ApplicationServices"
         connectionString="Data Source=a55y1f44zh.database.windows.net;Initial Catalog=FoodExpress.admin;User ID=mmu@a55y1f44zh;Password=curso.net2011;"
         providerName="System.Data.SqlClient"/>
    <add name="FastFoodEntitiesContainer"
         connectionString="metadata=res://*/EntityModels.FastFoodEntities.csdl|res://*/EntityModels.FastFoodEntities.ssdl|res://*/EntityModels.FastFoodEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=a55y1f44zh.database.windows.net;Initial Catalog=FoodExpress;User ID=mmu@a55y1f44zh;Password=curso.net2011;&quot;"
         providerName="System.Data.EntityClient"/>
  </connectionStrings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    
    <!-- Si debe guardar el estado de sesión en el servicio de almacenamiento en caché de AppFabric, agregue lo siguiente a web.config en system.web. Si se necesita SSL, cambie dataCacheClientName por "SslEndpoint". -->
    <sessionState mode="Custom" customProvider="AppFabricCacheSessionStoreProvider">
      <providers>
        <add name="AppFabricCacheSessionStoreProvider"
             type="Microsoft.Web.DistributedCache.DistributedCacheSessionStateStoreProvider, Microsoft.Web.DistributedCache"
             cacheName="default"
             useBlobMode="true"
             dataCacheClientName="default" />
      </providers>
    </sessionState>
  </system.web>
</configuration>