@{    
    ViewBag.PageTitle = "Welcome administrator!";
}

<h2>@ViewBag.Message</h2>

<p>This is the administrative site, from here you can add restaurants and manage the delivery employees.</p>
